.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    background-color: #6495ED;
    z-index: 1;
}

.wbdv-padding-5px {
    padding: 5px;
}

.whole-page{
    background-color: #F5F5F5;
}

.course-table{
    background-color: #F5F5F5;
}

.table-row{
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

.page-header{
    color: white;
    margin-top: 5px;
}

.table-header {
    background-color: #D3D3D3;
        border-bottom: 1px solid #f5f5f5;

}

.nav-btn{
    color: white;
}

.add-new{
    color: white;
    magin-top: 3px;
}

.placeholder {
    font-style:italic;
}

.table{
    margin-left:60px;
    margin-right:60px;
}